body
{
    background-color: #F7F7F7;
}

h2
{
  padding-left: 100px;
}

#Edit {

  padding-left: 40px;

}

.form
{
  width: 390px;
  padding-bottom: 30px;
  padding-top: 190px;
}

.input
{
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 53px;
  }

.validate
{
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #333;
    display: flex;
    justify-content: center;
    padding: 0 25px;
    position: relative;
}
