h1
{
    color: red;
}
.bck
{
    color: aqua
}

.carousel-control-next
{color: red}

#week
{
  font-family: 'Krona One', sans-serif;
    font-size: 40px;
    color: crimson;
    margin-top: 50px;
    text-align: center;
}
.titre-page
{
    text-align: center;
    color: #FF0BE1
}

body
{
    background-color: #F7F7F7
}

.actu
{
    font-size:50px;
        color:black;
}

nav
{
    margin-bottom: 30px;
}

/* ADMIN*/ 
.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}

.btn {
	padding: 10px;
	
	background-color: pink;
	
	border-color: pink;
}
